*{
    margin: 0;
    padding: 0;
}
/* Row-1 Start */
.row-1{
    background: url(/images/Computer-BG.jpg);
    width: 100%;
    height: 500px;
}
.heading-item{
    text-align: center;
    padding-top: 250px;
}
.heading-item h1{
    color: white;
    font-size: 35px;
    padding-top: 50px;
}
.heading-item p{
    color: rgba(255, 255, 255, 0.903);
    padding-top: 25px;
}
.menu{
    text-align: center;
    
}
.menu ul{
    padding-left: 43%;
    padding-top: 50px;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    color: white;
    padding-left: 10px;
    text-decoration: none;
}
/* Row-1 End */

/* Row-2 Start */
.row-2{
    width: 100%;
    height: 450px;
    background: rgba(231, 228, 228, 0.82);
}
.yoga-section{
    width: 65%;
    margin: 0 auto;
    height: 100%;
  }
  .yoga-title{
    text-align: center;
    font-size: 32px; 
    padding: 100px 0px;
 }
 .weyoga-item-all{
    padding:  50px 0px;
}
.yoga-item{
    width: 30%;
    text-align: center;
    float: left;
    margin-left: 30px;
}
/* .yoga-item i{ 
    font-size: 33px;
    padding-bottom: 20px;
    color: rgb(227, 157, 45);
} */
.item h2{
    font-size: 27px;
    padding-bottom: 25px;
}
.wedo_item p{
    text-align: justify;
}
/* Row-2 End */

/* Row-3 Start */
.row-3{
    width: 100%;
    height: 450px;
    background: url(/images/download.jpeg);
    background-size: cover;
}
.advance-section{
    text-align: center;
    padding-top: 100px;
    
}
.advance-section h1{
    color: rgba(255, 255, 255, 0.837);
    padding-left: 400px;
}
.advance-section p{
    color: rgba(255, 255, 255, 0.724);
    padding-left: 855px;
    text-align: left;
    padding-top: 20px;
}
.advance-section button{
    color: black;
    background-color: white;
    padding: 5px;
    margin-left: 268px;
    margin-top: 20px;
}
/* Row-3 End */

/* Row-4 Start */
.row-4{
    width: 100%;
    height: 350px;
    /* background-color: aqua; */
}
.why-section{
    padding-top:100px;
    padding-left: 200px;
   
}
.original{
    width: 40%;
    float: left;
    
}
.image{
  text-align: left;
  float: left;
  
}
.original h1{
    padding-left: 30px;
}
.original p{
    padding-left: 30px;
    color: rgba(0, 0, 0, 0.344);
}
/* Row-4 End */

/* Row-3 Start */
/* Row-3 End */

